<ion-content mode="ios" [fullscreen]="true">
</ion-content>

<div id="container">
  <div class="box">
    <ion-icon class="btter" class="ic" name="alarm"></ion-icon>
    <!-- <ion-icon name="book-outline" class="ic"></ion-icon> -->
    <div class="tx">
      <span>{{date}}</span><br>
      <span>{{timeDate}}</span>
    </div>
  </div>
  <div  class="box" *ngIf="item.length >0">
    <img class="ic" src="../../assets/photo/solar.png" width="80px" />
    <div class="tx1" >
      <span>Voltage</span>
      <span style="padding-left: 10px;"> {{item[0].volteSolar}} </span>
      <span style="padding-left: 10px;">V</span>
    </div>
    <div class="tx1" >
      <span>Current</span>
      <span style="padding-left: 10px;"> {{item[0].currentSolar}} </span>
      <span style="padding-left: 10px;">A</span>
    </div>
  </div>
  <div class="box"  *ngIf="item.length >0">
    <ion-icon class="ic"name="battery-half"></ion-icon>
    <div class="tx1">
      <span>Voltage</span>
      <span style="padding-left: 10px;"> {{item[0].volteBatt}} </span>
      <span style="padding-left: 10px;">V</span>
    </div>
    <div class="tx1">
      <span>Current</span>
      <span style="padding-left: 10px;"> {{item[0].currentBatt}} </span>
      <span style="padding-left: 10px;">A</span>
    </div>
  </div>
  <div class="box" *ngIf="item.length >0">
    <ion-icon  class="ic" name="battery-charging"></ion-icon>
    <div class="tx1">
      <span>Battery</span>
      <span style="padding-left: 10px;"> {{item[0].percentBatt}} </span>
      <span style="padding-left: 10px;">%</span>
        
    </div>
    <div class="tx1">
      <span>Time</span>
      <span style="padding-left: 10px;"> {{item[0].timeBatt}} </span>
      <span style="padding-left: 10px;">M</span>
    </div>
  </div>
  <div class="box" *ngIf="item.length >0">
    <ion-icon class="ic" name="wifi"></ion-icon><br />
    <div class="tx">
      <span> {{connectStatus[item[0].connectStatus]}}</span>
    </div>
  </div>
  <div class="box" *ngIf="item.length >0">
    <ion-icon *ngIf="item[0].StatusError==0"  class="ic" name="checkmark-circle-outline"></ion-icon>
    <ion-icon *ngIf="item[0].StatusError!=0" class="ic err" name="close-circle-outline"></ion-icon>
    <div *ngIf="item[0].StatusError==0" class="tx">
      <span> {{chargeStatus[item[0].StatusError]}}</span>
    </div>
    <div *ngIf="item[0].StatusError!=0" class="tx err">
      <span> {{chargeStatus[item[0].StatusError]}}</span>
    </div>
  </div>
</div>